<form method="post" action="{{ path('app_type_delete', {'id': type.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer le type #{{ type.id }} : {{ type.title }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <div id="deleteBtn"><button class="btn">Supprimer</button></div>
</form>
