{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <div class="form">
        <h1>Modifier un type</h1>

        {{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="btn"><div><a href="{{ path('app_type_index') }}">Retour</a></div></div>
    </div>
{% endblock %}
