{% extends 'base.html.twig' %}

{% block title %}Edit MoyenDePaiement{% endblock %}

{% block body %}
    <div class="form">
        <h1>Modifier un moyen de paiement</h1>

        {{ include('moyen_de_paiement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="btn"><div><a href="{{ path('app_moyen_de_paiement_index') }}">Retour</a></div></div>
    </div>
{% endblock %}
