{% extends 'base.html.twig' %}

{% block title %}New MoyenDePaiement{% endblock %}

{% block body %}
    <div class="form">
        <h1>Créer un nouveau moyen de paiement</h1>

        {{ include('moyen_de_paiement/_form.html.twig') }}

        <div class="btn"><div><a href="{{ path('app_moyen_de_paiement_index') }}">Retour</a></div></div>
    </div>
{% endblock %}
