<form method="post" action="{{ path('app_transaction_delete', {'id': transaction.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer la transaction #{{ transaction.id }} : {{ transaction.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
    <div id="deleteBtn"><button class="btn">Supprimer</button></div>
</form>
